<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>村夫的村子</title>
	<style>
	body {background-color:#b0c4de;}
	button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
	</style>
</head>

<body ontouchstart>
    <form action="/admin/signin" method="post">
			  <button id="one" type="submit">查询注册验证码</button>
			  </form>
	<form action="/admin/act" method="post">
			  <button id='tow' type="submit">生成陪行者订单</button>
			  </form>
</body>

</html>
