<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>村夫的村子</title>
	<style>
	body {background-color:#b0c4de;}
	button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
	div{
text-align: center;
}
	</style>
</head>

<body>
<div>
	{% for data in datas %}
    <form target="_blank" action={{data['url']}} method="post">
			  <button  type="submit">{{data['btn_name']}}</button>
	</form>
	{% endfor %}
</div>	
</body>

</html>
