<!DOCTYPE html>
<html>
<head>
<title>登录</title>
<style>
body{background-color:#b0c4de;}
div{
text-align: center;
}

</style>

</head>
<body>
<div>
<h3>提莫，开门</h3>
<form action="/login/next" method="post">
<input type="text" name="phone" placeholder="请输入手机号" style="height:25px;text-align:center" size='20'>
<input type="text" name="passwd" placeholder="请输入密码" style="height:25px;text-align:center" size='20'>
<button id="one" type="submit">登录</button>
</form>
<h3>{{get_flashed_messages()[0]}}</h3>
</div>
</body>
</html>